
{
	"sourceMaps": false,
        "presets": ['es2015','stage-1']
      , "plugins": [
            "transform-decorators-legacy"
          , "add-module-exports"
          , "../dist/index.js"
        ]
}
